@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --titleFontSize:24px;
    --titleFontWeight:bold;

    --subTitleFontSize:18px;

    --textFontSize:14px;

    --limeGreen:rgb(152, 202, 58);
    --bgGreen: #001F0C;
    
}

html {
  scroll-behavior: smooth;
  font-family: 'Sarabun', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}





/* INICIO HEADER */

header{
    width: 100%;
    color: white;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    z-index: 900;
    transition: .3s ease;
}

.ativo{
    background-color: black;
}

.logo span{
    color: rgb(152, 202, 58) ;
    font-weight: bold;
}

.hamburguerBtn{
    cursor: pointer;
    z-index: 999;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: rgba(105, 112, 105, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: .2s ease;
}

.close .bar:nth-child(1){
    transform: rotate(45deg) translate(10px,10px);
}

.close .bar:nth-child(2){
    opacity: 0;
}

.close .bar:nth-child(3){
    transform: rotate(-45deg) translate(8px,-8px);
}

.mobileNav{
    position: absolute;
    right: -50%;
    top: 0;
    background-color: rgb(6, 82, 6);
    padding: 2rem;
    width: 50%;
    height: 100vh;
    display: grid;
    place-content: center;
    transition: .3s ease;
}

.active{
    right: 0;
}

.mobileNav ul{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    list-style: none;
}


/* FIM HEADER */


/*-------------------------------------- INICIO DEBUG ----------------------------------------------------------*/


.arrowDown{
    color: white;
    font-weight: bolder;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.title{
    font-size: var(--titleFontSize);
    font-weight: var(--titleFontWeight);
}

.subTitle{
    font-size: var(--subTitleFontSize);
}

.contentText{
    font-size: var(--textFontSize);
}

/*--------------------------------------- FIM DEBUG ------------------------------------------------------------*/


section{
    min-height: 100vh;
    padding: 2rem;
    text-align: center;

    display: grid;
    place-content: center;

    position: relative;
}

/* INICIO HOME */
.home{
    background-color: rgb(0, 24, 0);
    color: white;
}

.homeContentWrapper{ 
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}


.homeBtn{
    font-size: var(--textFontSize);
    padding: 1rem;
    border-radius: 1rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

/* FIM HOME */


/* INICIO SERVICOS */

.sectionTitle{
    text-align: center;
}



.servicos{
    background-color: white;
}

.servicosContentWrapper, .sobreContentWrapper, .orcamentoContentWrapper{
    background-color: rgba(0, 255, 255, 0.24);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.cards{
    background-color: rgba(60, 60, 221, 0.589);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


/*---------------------------------------------------- INICIO CARD ----------------------------------------------------------------------*/
.card{
    background-color: #2ECC71;
    padding: 1rem;
    border: 2px solid rgb(0, 24, 0);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: .3rem;
}

.card h2{
    background-color:transparent;
    text-align: center;
    color: rgb(0, 24, 0);
}

.card .textArea{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/*---------------------------------------------------- FIM CARD ----------------------------------------------------------------------*/

/* FIM SERVICOS */


/* INICIO SOBRE */

.sobre{
    background-color: var(--bgGreen);
    color:white; 
}

.cardsSobre{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.cardSobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cardCircle{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* FIM SOBRE */


/* INICIO ORCAMENTO */

.orcamentoBtn{
    background-color: rgb(0, 24, 0);
    padding: .5rem;
    color: white;
    text-align: center;
    cursor: pointer;
}

.orcamento{
    background-color: rgb(0, 24, 0);
    color: white;
}

.formOrcamento{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    padding: 1rem;
    
    border: 3px solid white;
    border-radius: 9px;
}

.formOrcamento input{
    color: white;
    background-color: transparent;
    padding: .4rem;

    border: 2px solid white;
    border-radius: 9px;
}

.formOrcamento button{
    color: black;
    background-color: white;
    font-size: var(--textFontSize);
    font-weight: bold;
    padding: .5rem;
    border-radius: 9px;
    border: none;
}



/* FIM ORCAMENTO */


/* INICIO FOOTER */

footer{
    color: white;
    background-color: black;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.socialArea{
    display: flex;
    gap: .5rem;
}

.endereco{
    text-align: center;
    font-size: var(--textFontSize);
}

.socialBtn{
    color: black;
    background-color: white;
    padding: .4rem;
    border-radius: 6px;
    width: 35px;
    height: 35px;

    display: grid;
    place-content: center;
}

.copyrigthText{
    position: absolute;
    bottom: .1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: rgba(255, 255, 255, 0.486);
}

/* FIM FOOTER */


.hide{
    display: none;
}


@media (min-width: 600px) {

    header{
        padding: 3rem;
    }
    
    .hamburguerBtn{
        display: none;
    }

    .mobileNav{
        position: relative;
        right: 0;
        top: 0;
        background-color: rgba(255, 0, 0, 0.425);
        padding: 0rem;
        width: 50%;
        height: 100%;
        display: flex;
        place-content: center;
        transition: .3s ease;
    }
    
    .active{
        right: 0;
    }
    
    .mobileNav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 0rem;
    }




   
    

  }
